<div class="page-header">
  <%= link_to stocks_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_stock_path(@stock), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show stock</h1>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @stock.name %></dd>

  <dt>Unit price:</dt>
  <dd><%= humanized_money_with_symbol @stock.unit_price %></dd>

  <dt>Interest:</dt>
  <dd><%= @stock.interest %></dd>

  <dt>Duration:</dt>
  <dd><%= @stock.duration %></dd>

</dl>
<%= column_chart @chart_data, xtitle: "Years", ytitle: "Amount, dollars" %>
